{
  "expo": {
    "name": "DailyTodo",
    "slug": "dailytodo",
    "icon": "./assets/app-icon.png",
    "splash": {
      "image": "./assets/splash-icon.png",
      "resizeMode": "contain",
      "backgroundColor": "#169fb1"
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-foreground.png",
        "backgroundColor": "#169fb1"
      }
    },
    "web": {
      "favicon": "./assets/icon-48.png"
    }
  }
}